<div class="big-box">
  <div class="top-box clearfix">
    <div class="nav-top-box container">
      <div class="left-box">
        <ul>
          <li><a href="#">首页</a></li>
          <li><a href="#">消费者业务网站</a></li>
          <li><a href="#">优购码</a></li>
          <li><a href="#">企业商用</a></li>
          <li><a href="#">Select Region</a></li>
          <li><a href="#">更多精彩<span class="iconfont icon-xiala-"></span></a></li>
        </ul>
      </div>
      <div class="right-box">
        <ul>
          <li><a href="#">请登录</a></li>
          <li><a href="#">注册</a></li>
          <li><a href="#">我的订单</a></li>
          <li><a href="#">客服<span class="iconfont icon-xiala-"></span></a></li>
          <li><a href="#">网站导航<span class="iconfont icon-xiala-"></span></a></li>
          <li><a href="#">手机版<span class="iconfont icon-xiala-"></span></a></li>
          <li><a href="/shoppingCart"><span class="iconfont icon-gouwuche"></span>购物车(0)</a></li>
        </ul>
      </div>
    </div>
    <div class="container menu-box">
      <div class="log-box">
        <img src="../../../assets/img/logo_app.png" alt="">
      </div>
      <div class="menu-center-box">
        <ul>
          <li><a href="#">华为</a></li>
          <li><a href="#">鸿蒙智航</a></li>
          <li><a href="#">华为首选</a></li>
          <li><a href="#">生态周边</a></li>
        </ul>
      </div>
      <div class="search-box">
        <input type="text" placeholder="搜索商品">
        <span class="iconfont icon-sousuo"></span>
      </div>
    </div>
  </div>
</div>
