* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.big-box {
  display: flex;
  flex-direction: column;
  background-color: #F1F3F5;
  height: 110px;
}

.center-box {
  flex: 1;
  border: 1px solid black;
}

.iconfont,
.icon-xiala- {
  font-size: 10px;
  margin-left: 6px;
  margin-top: 2px;
}

.icon-gouwuche {
  font-size: 13px;
  margin-right: 3px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.top-box {
  height: 36px;
  background-color: #000000;
}

.container {
  width: 1226px;
  margin: 0 auto;
}

.nav-top-box {
  min-width: 1226px;
  background-color: #333333;
}

.left-box {
  float: left;
}

.left-box>ul>li {
  float: left;
  margin-left: 13px;
  line-height: 36px;
  vertical-align: middle;
}

.left-box>ul>li>a {
  text-decoration: none;
  font-size: 13px;
  color: #B0B0B0;
}

.left-box>ul>li>a:hover {
  color: white;
}

.right-box {
  float: right;
}

.right-box>ul>li {
  float: left;
  margin-right: 10px;
  line-height: 36px;
  vertical-align: middle;
}

.right-box>ul>li:nth-child(n+4):hover {
  background-color: white;
}

.right-box>ul>li:nth-child(n+4):hover>a {
  color: red;
}

.right-box>ul>li>a {
  text-decoration: none;
  font-size: 13px;
  color: #B0B0B0;
}

.right-box>ul>li>a:hover {
  color: white;
}

.log-box {
  width: 103px;
  height: 74px;
}

.log-box>img {
  width: 100%;
}

.menu-box {
  display: flex;
  position: sticky;
  top: 0px;
  align-items: center;
}

.menu-center-box {
  margin-left: 80px;
  font-size: 16px;
  line-height: 74px;
}

.menu-center-box>ul {
  height: 74px;
}

.menu-center-box>ul>li {
  float: left;
  margin-left: 20px;
}

.menu-center-box>ul>li>a {
  text-decoration: none;
  color: black;
}

.menu-center-box>ul>li>a:hover {
  color: red;
}

.search-box {
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 0;
  display: flex;
}

.search-box>input {
  width: 200px;
  height: 100%;
  border-radius: 10px;
  border: none;
}

.icon-sousuo {
  font-size: 18px;
}

.icon-sousuo:hover {
  color: red;
  cursor: pointer;
}
