<app-top></app-top>
<app-banner></app-banner>
<div class="">
  <div class="grid grid-cols-6 max-w-[1226px] m-auto mt-4">
    <div *ngFor="let item of arr"
      class="w-[200px] h-[95px] p-2 flex flex-col items-center justify-center myhover hover:cursor-pointer">
      <img class="w-[48px] h-[48px]" src="../../assets/img/d3eef1b38c7d400e98218691ccaf6332.webp" alt="">
      <div class="">指挥办公</div>
    </div>
  </div>
  <div class="max-w-[1226px] m-auto mt-6 hover:cursor-pointer aaa">
    <img class="w-[1226px] h-[177px]" src="../../assets/img/4c62050bc0814a3088daef689ad51fae.webp" alt="">
  </div>
</div>
<app-list></app-list>
<app-list></app-list>
<app-bottom></app-bottom>
