.box {
  position: fixed;
  top: 200px;
  right: 450px;
  width: 500px;
  height: 500px;
  overflow: hidden;
  display: none;
}

.box>img {
  margin-left: calc(var(--x) * -1px);
  margin-top: calc(var(--y) * -1px);
}

#img:hover~.box {
  display: block;
}
