<section>
  <form dForm [layout]="layoutDirection">
    <d-form-item>
      <d-form-label dHasFeedback="true" [required]="true" [hasHelp]="true" [helpTips]="'请输入你的姓名'">姓名</d-form-label>
      <d-form-control>
        <input dTextInput name="userName" />
      </d-form-control>
    </d-form-item>

    <d-form-item>
      <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'请输入你的联系方式'">联系方式</d-form-label>
      <d-form-control>
        <input dTextInput name="phone" />
      </d-form-control>
    </d-form-item>

    <d-form-item>
      <d-form-label [required]="true">地址选择</d-form-label>
      <d-form-control>
        <select title="选择省份" name="province" id="province" (change)="aaaa()">
          <option value=""></option>
          <option value="北京市">北京市</option>
          <option value="上海市">上海市</option>
          <option value="广东省">广东省</option>
        </select>
        <select title="选择城市" name="city" id="city" (change)="bbbb()">
          <option value=""></option>
        </select>
        <select title="选择区县" name="area" id="area">
          <option value=""></option>
        </select>
        <!-- <d-select [options]="selectOptions" name="select1" size="sm" [filterKey]="'label'"
          [(ngModel)]="formData.selectValue"></d-select> -->
      </d-form-control>
    </d-form-item>

    <d-form-item>
      <d-form-label>详细住址</d-form-label>
      <d-form-control>
        <textarea dTextarea name="desc" maxlength="400" style="height: 80px;width: 400px;"></textarea>
      </d-form-control>
    </d-form-item>

  </form>
</section>
