<div class="banner">
  <div class="content-bottom-box">
    <div class="lunbo">
      <div class="img">
        <input type="radio" name="link" checked id="link1" placeholder="a" />
        <img src="../../../assets/img/lunbo1.jpg" alt="">
        <input type="radio" name="link" id="link2" placeholder="a" />
        <img src="../../../assets/img/lunbo2.jpg" alt="">
        <input type="radio" name="link" id="link3" placeholder="a" />
        <img src="../../../assets/img/lunbo3.jpg" alt="">
        <input type="radio" name="link" id="link4" placeholder="a" />
        <img src="../../../assets/img/lunbo4.jpg" alt="">
        <input type="radio" name="link" id="link5" placeholder="a" />
        <img src="../../../assets/img/lunbo5.jpg" alt="">
        <input type="radio" name="link" id="link6" placeholder="a" />
        <img src="../../../assets/img/lunbo6.jpg" alt="">
        <input type="radio" name="link" id="link7" placeholder="a" />
        <img src="../../../assets/img/lunbo7.jpg" alt="">
      </div>
      <div class="link">
        <label for="link1"></label>
        <label for="link2"></label>
        <label for="link3"></label>
        <label for="link4"></label>
        <label for="link5"></label>
        <label for="link6"></label>
        <label for="link7"></label>
      </div>
    </div>
    <div class="left-check">
      <div class="left-check-nav-box">
        <ul class="left-check-info-box">
          <li><a href="#">手机</a>
            <div class="category-detail hover:cursor-pointer pt-6 hover:text-red-500" routerLink="/list">手机</div>
          </li>
          <li><a href="#">穿戴</a>
            <div class="category-detail hover:cursor-pointer pt-6 hover:text-red-500">穿戴</div>
          </li>
          <li><a href="#">平板</a>
            <div class="category-detail hover:cursor-pointer pt-6 hover:text-red-500">平板</div>
          </li>
          <li><a href="#">电脑</a>
            <div class="category-detail hover:cursor-pointer pt-6 hover:text-red-500">电脑</div>
          </li>
          <li><a href="#">耳机音响</a>
            <div class="category-detail hover:cursor-pointer pt-6 hover:text-red-500">耳机音响</div>
          </li>
          <li><a href="#">智慧屏</a>
            <div class="category-detail hover:cursor-pointer pt-6 hover:text-red-500">智慧屏</div>
          </li>
          <li><a href="#">智能家居</a>
            <div class="category-detail hover:cursor-pointer pt-6 hover:text-red-500">智能家居</div>
          </li>
          <li><a href="#">出行车品</a>
            <div class="category-detail hover:cursor-pointer pt-6 hover:text-red-500">出行车品</div>
          </li>
          <li><a href="#">数码配件</a>
            <div class="category-detail hover:cursor-pointer pt-6 hover:text-red-500">数码配件</div>
          </li>
          <li><a href="#">增值服务</a>
            <div class="category-detail hover:cursor-pointer pt-6 hover:text-red-500">增值服务</div>
          </li>
          <li><a href="#">商用终端</a>
            <div class="category-detail hover:cursor-pointer pt-6 hover:text-red-500">商用终端</div>
          </li>
          <li><a href="#">生态周边</a>
            <div class="category-detail hover:cursor-pointer pt-6 hover:text-red-500">生态周边</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
