<div class="bottom-container ">
    <div class="bottom-content clearfix">
      <div class="menu-box">
        <ul>
          <li>
            <a href="#"><span class="iconfont icon-pinzhibaozheng"></span>百强企业 品质保证</a></li>
          <li>
            <a href="#"><span class="iconfont icon-tuihuo"></span>7天退货 15天换货</a></li>
          <li>
            <a href="#"><span class="iconfont icon-mianyunfei"></span>48元起免运费</a></li>
          <li>
            <a href="#"><span class="iconfont icon-guanfangshouhou"></span>官方售后 全国联保</a></li>
        </ul>
      </div>
  
      <hr class="hr1">
  
      <div class="bottom-content-box clearfix">
        <div class="left-box">
          <ul>
            <li>
              <div id="title"><a href="#">购物指南</a></div>
              <div><a href="#">享0分期利息</a></div>
              <div><a href="#">以旧换新</a></div>
              <div><a href="#">众测活动</a></div>
              <div><a href="#">企业购</a></div>
              <div><a href="#">O2O采购</a></div>
              <div><a href="#">教育购</a></div>
            </li>
            <li>
              <div id="title"><a href="#">售后服务</a></div>
              <div><a href="#">门店维修</a></div>
              <div><a href="#">报修政策</a></div>
              <div><a href="#">防伪查询</a></div>
              <div><a href="#">退换货政策</a></div>
              <div><a href="#">手机寄修服务</a></div>
            </li>
            <li>
              <div id="title"><a href="#">服务支持</a></div>
              <div><a href="#">服务店查询</a></div>
              <div><a href="#">维修备件价格</a></div>
              <div><a href="#">维修服务</a></div>
              <div><a href="#">上门安装</a></div>
              <div><a href="#">问题排查</a></div>
            </li>
  
            <li>
              <div id="title"><a href="#">特色服务</a></div>
              <div><a href="#">防伪查询</a></div>
              <div><a href="#">补购保障</a></div>
              <div><a href="#">以旧换新</a></div>
            </li>
  
            <li>
              <div id="title"><a href="#">关于我们</a></div>
              <div><a href="#">公司介绍</a></div>
              <div><a href="#">华为零售店</a></div>
              <div><a href="#">商家中心</a></div>
              <div><a href="#">意见反馈</a></div>
              <div><a href="#">规则中心</a></div>
            </li>
  
            <li>
              <div id="title"><a href="#">友情链接</a></div>
              <div><a href="#">华为集团</a></div>
              <div><a href="#">华为消费者业务</a></div>
              <div><a href="#">华为云</a></div>
              <div><a href="#">华为应用市场</a></div>
              <div><a href="#">华为心声社区</a></div>
            </li>
          </ul>
        </div>
  
        <div class="right-box">
          <div class="phone">950805</div>
          <div class="time">7 x 24 小时客服热线（仅收市话费）</div>
          <div class="service"><span class="iconfont icon-guanfangkefu"></span>在线客服</div>
          <div class="other">
            <div>关注VMALL：</div>
            <div class="icon-box">
              <span class="iconfont icon-weixin"></span>
              <span class="iconfont icon-toutiaoyangshi"></span>
              <span class="iconfont icon-weibo"></span>
              <span class="iconfont icon-baidu"></span>
            </div>
          </div>
        </div>
      </div>
      <hr class="hr2">
      <div class="bottom-box">
        <div class="left-logo"><a href="#"><img src="../../assets/img/logo_app.png" alt=""></a></div>
        <div class="middle-box">
          <div class="middle-title">
            <div><a href="#">华为集团</a></div>
            <div><a href="#">消费者业务网站</a></div>
            <div><a href="#">华为应用市场</a></div>
            <div><a href="#">HarmonyOS</a></div>
            <div><a href="#">华为终端云空间</a></div>
            <div><a href="#">开发者联盟</a></div>
            <div><a href="#">华为商城手机版</a></div>
          </div>
          <div class="middle-text">
            <div><a href="#">隐私声明</a></div>
            <div><a href="#">服务协议</a></div>
            <div><a href="#">COOKIES</a></div>
            <div style="color: #A3A3A3;">Copyright © 2012-2024 华为终端有限公司 版权所有</div>
            <div><a href="#">经营资质</a></div>
            <div><a href="#">粤ICP备19015064号</a></div>
            <div><a href="#">粤公网安备 44190002003939</a></div>
          </div>
          <div class="middle-text">
            <div><a href="#">增值电信业务经营许可证：粤B2-20190762</a></div>
            <div><a href="#">备案主体编号：44201919072182</a></div>
            <div><a href="#">粤新出网备（2024） 2号</a></div>
            <div><a href="#">（粤）网械平台备字[2024]第00005</a></div>
          </div>
          <div class="middle-text">
            <div><a href="#">互联网药品信息服务资格证（粤）-非经营性-2024-0012</a></div>
            <div><a href="#">广东省网络食品交易第三方平台备案：GDWS10168</a></div>
            <div><a href="#">APP备案号：粤ICP备19015064号-39A号</a></div>
          </div>
          <div class="middle-text">
            <div><a href="#">网信算备441901536982702230011</a></div>
            <div><a href="#">网络算备441901536982704230013号</a></div>
          </div>
        </div>
        <div class="right-logo">
          <a href="#"><img src="../../assets/img/bottom.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
  