<div class="list">
  <div class="title-box">
    <div class="title">手机</div>
    <div class="link">更多&gt;</div>
  </div>
  <div class="detail-box">
    <div routerLink="/detail" class="list-details" *ngFor="let item of listData">
      <div class="img-box text-center">
        <img class="pt-6" src="../../../assets/img/01.png" alt="">
      </div>
      <div class="text-box">
        <div class="name">{{item.goods_name}}</div>
        <div class="tag">{{item.goods_spec}}</div>
        <div class="price">￥{{item.price}}</div>
      </div>
    </div>
    <div class="list-details" *ngFor="let item of listData">
      <div class="img-box text-center">
        <img class="pt-6" src="../../../assets/img/01.png" alt="">
      </div>
      <div class="text-box">
        <div class="name">{{item.goods_name}}</div>
        <div class="tag">{{item.goods_spec}}</div>
        <div class="price">￥{{item.price}}</div>
      </div>
    </div>
    <div class="list-details" *ngFor="let item of listData">
      <div class="img-box text-center">
        <img class="pt-6" src="../../../assets/img/01.png" alt="">
      </div>
      <div class="text-box">
        <div class="name">{{item.goods_name}}</div>
        <div class="tag">{{item.goods_spec}}</div>
        <div class="price">￥{{item.price}}</div>
      </div>
    </div>
    <div class="list-details" *ngFor="let item of listData">
      <div class="img-box text-center">
        <img class="pt-6" src="../../../assets/img/01.png" alt="">
      </div>
      <div class="text-box">
        <div class="name">{{item.goods_name}}</div>
        <div class="tag">{{item.goods_spec}}</div>
        <div class="price">￥{{item.price}}</div>
      </div>
    </div>
    <div class="list-details" *ngFor="let item of listData">
      <div class="img-box text-center">
        <img class="pt-6" src="../../../assets/img/01.png" alt="">
      </div>
      <div class="text-box">
        <div class="name">{{item.goods_name}}</div>
        <div class="tag">{{item.goods_spec}}</div>
        <div class="price">￥{{item.price}}</div>
      </div>
    </div>
  </div>
</div>
